{% extends 'testerNavBar.html' %}
<h1>{% block title %}CalculationGame{% endblock %}</h1>
{% block content %}
<br>
<br><br>
<br>
 <div id="Ace_selector">
     <h1>Calculation</h1>
     <br>
<br>
     <br>
<br>
          <br>
<br>
     <ul id="Ace_chooseDiffcuty">
         <li><a id="Ace_CalEasy" href="{{ url_for('StartingEasy') }}">Easy</a></li>
         <li><a id="Ace_CalNormal" href="{{ url_for('StartingNormal') }}">Normal</a></li>
         <li><a id="Ace_CalHard" href="{{ url_for('StartingHard') }}">Hard</a></li>
     </ul>
     <br>
     <br>
     <ul id="Ace_challage">
         <li><a id="Ace_AllChallage" href="{{ url_for('challage_All') }}">Challenge</a></li>

     </ul>
          <ul id="BackButtonWillFloatRight">
         <li><a id="Backbutton" href="{{ url_for('goToGameSelection') }}">Back</a></li>

     </ul>
     </div>

{% endblock %}
