{% extends 'JinAnn/Base.html' %}
<h1>{% block title %}SettingChallenge{% endblock %}</h1>
{% block content %}
<br>
    <br>
    <br>
    <br>
<div id="Ace_ButtonToStartCss">

{% if app_name=="Cal" %}



    <h1>Setting challenge for Calculation game</h1><br><br>

<form method="post">

<br>
  <table id="Ace_Challage_body">

      <tr><td><label class="Ace_LabelForChallage">Range number between 1 to:</label></td><td> <input type="number" id="Ace_End" width="100px" name="End" min="26" max="999" class="Ace_InputWidth" value="{{ request.form['End'] }}" required></td></tr>
        <tr><td> <label class="Ace_LabelForChallage">Amount of Question:</label></td><td><input type="number" id="Ace_Range" width="100px" name="Range" min="5" max="100" class="Ace_InputWidth" value="{{ request.form['Range'] }}" required></td></tr>
        <tr><td><label class="Ace_LabelForChallage">Countdown time in seconds:</label></td><td><input type="number" id="Ace_Time" width="100px" name="Time" min="10" max="300" class="Ace_InputWidth" value="{{ request.form['Time'] }}"  required></td></tr>

    </table>
    <input id="Ace_Challage_Submit" type="submit" value="Start Challenge">

    </form>
          <span id="Ace_HistoryHover"><a id="Ace_Backbutton" href="{{ url_for('goToGameSelection') }}">Back</a></span>

    <!-- tmr will contiune do css will put button and a<-- with paddding -->


{% elif app_name=="Guess" %}


    <h1>Setting challenge for Remember the number</h1><br><br>

    <form method="post">
        <br>
        <table id="Ace_Challage_body">
        <tr><td><label class="Ace_LabelForChallage">Range number between 1 to:</label></td><td> <input type="number" width="100px" class="Ace_InputWidth" id="Ace_End" name="End" min="25" max="200"  value="{{ request.form['End'] }}" required></td></tr>
        <tr><td> <label class="Ace_LabelForChallage">Amount of Question:</label></td><td><input type="number" width="100px" class="Ace_InputWidth" id="Ace_Range" name="Range" min="2" max="15"  value="{{ request.form['Range'] }}" required></td></tr>
        <tr><td><label class="Ace_LabelForChallage">Countdown time in seconds:</label></td><td><input type="number" width="100px" class="Ace_InputWidth" id="Ace_Time" name="Time" min="2" max="20"  value="{{ request.form['Time'] }}"  required></td></tr>



        </table>
    <input id="Ace_Challage_Submit" type="submit" value="Start Challage">
    </form>

        <span id="Ace_HistoryHover"><a id="Ace_Backbutton" href="{{ url_for('goToGameSelection') }}">Back</a></span>

{% endif %}
<br>
<br>
   </div>
{% endblock %}
<!--
<table>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>

    <tr><td></td><td></td></tr>
    <tr></tr>
    <tr></tr>
    <tr><td></td><td></td><td></td></tr>
    </table>

    -->


