<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for("static" , filename="style.css")}}">

<body id="Ace_body">
<br>
<br>
<br>
<br>
    <div id="Ace_selector">

        <h1 id="Ace_headTitle">Selection</h1>

        <div id="Ace_GuessTheNumber">
            <h1 id="Ace_guessNumber_title">Guess the number</h1>
        </div>

        <div id="Ace_calculator" >
                <br>
               <br>
               <br>
           <span id="Ace_paddingTOP"> <a id="Ace_calculator_title" href="{{ url_for('goToCalculator') }}"> Calulator</a></span>

        </div>
    </div>

</body>

