{% extends 'JinAnn/Base.html' %}
<h1>{% block title %}GameSelection{% endblock %}</h1>

{% block content %}

<span id="Ace_Cover_button_History"><a id="Ace_button_History"href="{{  url_for('history') }}">History</a></span>
<br>
<br>
<br>
<br>
    <div id="Ace_selector">

        <h1 id="Ace_headTitle">Selection</h1>

        <div id="Ace_GuessTheNumber">
            <br>
            <br>
            <br>
            <a id="Ace_Guess_Number" href="{{ url_for('GotoGuess') }}">Remember the </a>
             <a id="Ace_Guess_NumberSub" href="{{ url_for('GotoGuess') }}">number</a>


        </div>

        <div id="Ace_calculator" >
                <br>
               <br>
               <br>
           <a id="Ace_calculator_title" href="{{ url_for('goToCalculator') }}"> Calculation</a>

        </div>
    </div>

{% endblock %}
