{% extends 'JinAnn/Base.html' %}
<h1>{% block title %}Results{% endblock %}</h1>
{% block content %}

<div class="Ace_For_Results_All">
<h1 >Results</h1>
<br>

{% if App_name=="Cal" %}

{% for i in tomtom %}
    {% if i['U']!=0 %}
   <h1 id="Ace_QSpam">{{ i['EQ1'] }} {{i['S'] }} {{ i['EQ2'] }}={{ i['A'] }} your answer:{{ i['U'] }}</h1>


       {% if i["C"]=="Incorrect" %}
       <h1 id="Ace_Incorrect">{{ i['C'] }}</h1>
        {% else %}
           <h1 id="Ace_Correct">{{ i['C'] }}</h1>
       {% endif %}
    {% endif %}
{% endfor %}
{% endif %}

{% if App_name== "Guess"%}

    {% for i in tomtom %}

    <h1>The answer:{{ i["Question"]}}   your answer:{{ i["User_answer"] }}  </h1>
       {% if i["correction"]=="Incorrect" %}
       <h1 id="Ace_Incorrect">{{ i['correction'] }}</h1>
        {% else %}
           <h1 id="Ace_Correct">{{ i['correction'] }}</h1>
       {% endif %}
    {% endfor%}
{% endif %}
        <span id="Ace_HistoryHover"><a id="Ace_Backbutton" href="{{ url_for('goToGameSelection') }}">Back to Selection</a></span>
<br>
<br>
</div>
{% endblock %}
