<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="{{ url_for("static" , filename="style.css")}}">

<body id="Ace_body">
<div id="Ace_Results">
<h1 >Results</h1>


{% if App_name=="Cal" %}
    <div class="For_Results_All">
{% for i in tomtom %}
    {% if i['U']!=0 %}
   <h1 id="Ace_QSpam">{{ i['EQ1'] }} {{i['S'] }} {{ i['EQ2'] }}={{ i['U'] }}  ans:{{ i['A'] }}


       {% if i["C"]=="Incorrect" %}
       <h1 id="Ace_Incorrect">{{ i['C'] }}</h1>
        {% else %}
           <h1 id="Ace_Correct">{{ i['C'] }}</h1>
       {% endif %}




   </h1>
    {% endif %}
{% endfor %}
    </div>
{% endif %}

{% if App_name== "Guess"%}

    {% for i in tomtom %}

    <h1>{{ i["Question"]}} your answer {{ i["User_answer"] }}</h1>


    {% endfor%}
{% endif %}

<button class="Ace_Make_IT_Hover" id="wanna_make_it_to_the_right"><a id="Ace_ChangeSize_InCalGameStart" href="{{ url_for('goToGameSelection') }}">Back to game select</a></button>

</div>
</body>
