{% extends 'JinAnn/Base.html' %}
<h1>{% block title %}NomalStart{% endblock %}</h1>
{% block content %}

    <br>
<br>
<br>
<br>
<div id="Ace_ButtonToStartCss">
    <br>

{% if App_name=="Cal" %}
    <h1 >Calculation Game </h1>
    <p>Normal mode</p>
    <p >Total Question : 15</p>
    <p >Total Time to complete all 15 question is : 180 seconds</p>
     <p>Will have addition and subtraction </p>
    <p>Press the start button to start the game</p>


    <span id="Ace_Startbutton"><a id="Ace_paddingforStartButton" href="{{ url_for('chooseNormal') }}">Start</a></span>
  <br>

        <span id="Ace_HistoryHover"><a id="Ace_Backbutton" href="{{ url_for('goToCalculator') }}">Back</a></span>


{% elif App_name=="Guess" %}

   <h1 >Remember the number Game </h1>
     <p>Normal mode</p>
    <p>Total Question : 8</p>
    <p>Total time between each question is : 10 seconds</p>
    <p>Press the start button to start the game</p>

    <span id="Ace_Startbutton"><a id="Ace_paddingforStartButton" href="{{ url_for('chooseNormal') }}">Start</a></span>
      <br>
    <span id="Ace_HistoryHover"><a id="Ace_Backbutton" href="{{ url_for('GotoGuess') }}">Back</a></span>


{% endif %}
<br>
<br>
</div>
{% endblock %}
