
<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='Base.css') }}">
<nav>
    {% if session['id'] %}

        <span class="logo"><a id='weblogo' href=''><img src='' alt='WebPage Logo'/></a></span>
        <ul id="base_ul">
        <li><a class='link' href="{{ url_for('logout') }}">Home</a></li>
        <li><a class='link' href="{{ url_for('logout') }}">Scheme</a></li>
        <li><a class='link' href="{{ url_for('logout') }}">Calendar</a></li>
        <li><a class='link' href="{{ url_for('goToGameSelection') }}">Game</a></li>
        <li><a class='link' href="{{ url_for('logout') }}">Log Out</a></li>

        </ul>

        <span id="ID_name">ID : {{ session['user_name'] }} </span>

    {% else %}

     <ul id="base_ul">
      <li><a href="{{ url_for('register') }}">Register</a>
      <li><a href="{{ url_for('login') }}">Log In</a>
          </ul>
    {% endif %}

</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% block content %}{% endblock %}

</section>
