<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href = " {{ url_for('static', filename = 'Base.css') }}" />
</head>
<body>
        <nav>
			<br>
			<a id='weblogo' href=''>
			<img src='/static/Pictures/Logo.PNG' alt='WebPage Logo'/>
			</a>

			<a class='link' href="#">Scheme</a>
			<a class='link' href="#">Calendar</a>
			<a class='link' href="#">Game</a>
			<a class='link' href="#">Home</a>
		</nav>
<br/><br/><br/><br/><br/>
<div>
     <form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Register">
    </form>
</div>

</body>
</html>