{% extends 'JinAnn/Base.html' %}
<h1>{% block title %}ChllengeStart{% endblock %}</h1>
{% block content %}


       <div class="form">
           <form method = 'post'>
               <label for="age">Age</label>
                 <input type='number' name="age" id="age" value =' {{request.form["age"]}} ' required>
               <label for="income">Monthly Income</label>
                 <input type='number' name="income" id="income" value =' {{request.form["income"]}} ' required>
               <input type="submit" value="Search">

           </form>

       </div>

{% if age >= 50 %}
    <div> Scheme 1</div>
    {%  endif %}
{% if age >= 50 and income <= 2000 %}
    <div> Scheme 2</div>
    {%  endif %}
{% endblock %}
