<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <link rel="stylesheet" href = " {{ url_for('static', filename = 'Base.css') }}" />

        <nav>
			<br>
			<a id='weblogo' href=''>
			<img src='/static/Pictures/Logo.PNG' alt='WebPage Logo'/>
			</a>

			<a class='link' href="#">Scheme</a>
			<a class='link' href="#">Calendar</a>
			<a class='link' href="#">Game</a>
			<a class='link' href="#">Home</a>
		</nav>


<div id="topempty"></div>
    <h3> Schemes available/You are benefiting from</h3>

        <div>
            <h2> Scheme 1</h2>
        </div>
        <div>
            <h2> Scheme 2</h2>
        </div>
        <div>
            <h2> Scheme 3</h2>
        </div>

</html>