
*{
    margin:0px;
    padding:0px;
}
#Ace_body{
    justify-content: center;
    background-color: yellow;
}
#Ace_selector{

    margin:auto;
    width:1000px;
    background-color: green;
    text-align: center;
    height:500px;
}

#Ace_headTitle{
    color:yellow;
    font-size: 50px;
}

#Ace_calculator{

    float:right;
    background-color: red;
    border: 2px solid;
    border-color: black;
    width:40%;
    height:400px;
    text-align: center;
    margin-right:5%;
}
#Ace_GuessTheNumber{
 background-color: red;
    float:left;
    border: 2px solid;
    border-color: black;
    width:40%;
    height:400px;
    margin-left:5%;
    text-align: center;

}
#Ace_calculator_title{
    color:black;

    font-size:60px;
    text-decoration: none;
}
#Ace_guessNumber_title{
   padding-top:30%;

}
#Ace_chooseDiffcuty{
    list-style-type: none;
}

#Ace_chooseDiffcuty li  {
display:inline-block;
    margin-right:10px;
    margin-left:10px;
    padding-left:10px;
padding-right:10px;
    border: 2px white solid;
}
#Ace_chooseDiffcuty li a{
    text-decoration: none;
    font-size:50px;
     color:black
}
#Ace_challage{
    list-style-type: none;
}
#Ace_challage li{
    display:inline-block;
        padding-left:10px;
padding-right:10px;
    border: 2px white solid;
}
#Ace_challage li a {
        text-decoration: none;
    font-size:50px;
    color:black
}
#Ace_Results{
    background-color: gray;
    width:100%;
     font-size: 30px;


}
#Ace_QSpam {

    color: black;
}
#Ace_Incorrect{
    color: red;
}

#Ace_Correct{
    color: Green;
}
#Ace_Game_Start{
     margin:auto;
    width:1000px;
    border: 2px black solid;
    height:500px;
    font-size:40px;
}
 #Ace_MoveToRight{
     text-align: right;
 }
#Ace_Game_Start #Ace_MoveToRight2{
    text-align: right;
    font-size:30px;
}
#userA {

    font-size:40px;
}
#countdown{
    font-size:35px;
    border-width:0px;
    border:none;
}
.Ace_SizeIsFixed{
    width:500px;
}
#Ace_ChangeSize_InCalGameStart{
    font-size:70px;
}

.Ace_Make_IT_Hover :hover{
    background-color: gainsboro;

}
.For_Results_All{

    background-color: whitesmoke;
    width:70%;
    border: 2px black solid;
    margin: auto;
}
#wanna_make_it_to_the_right{

    float:right;
}
.LabelForChallage{
padding-top:20px;
    padding-bottom: 20px;
font-size:30px;

}

#Challage_BOX {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
    text-align: center;
    background-color: lightgray;


}
#Challage_BOX label{

}
#Challage_body{
 margin-left: auto;
  margin-right: auto;
}
#Challage_Submit{
width:100%;
    font-size:25px;
}
.being_Lazy{
    text-align: center;
}

#Challage_Return li {
    display: inline-block;
    width:100%;
}
#Challage_Return li a{
    text-decoration: none;
    font-size:25px;
    padding-left: 40%;
    padding-right: 40%;
    background-color: whitesmoke;
}
#Ace_Guess_Number{
        color:black;

    font-size:60px;
    text-decoration: none;
}
#BackButtonWillFloatRight{
    float:right;
    margin-top:100px;
    margin-right: 20px;
    list-style-type: none;
}
#BackButtonWillFloatRight li{
    display:inline-block;
        padding-left:10px;
padding-right:10px;
    border: 2px white solid;
}
#Backbutton{
    font-size:50px;
    color:black;
    text-decoration: none;
}

#historyOrder li{

display:inline-block;
    padding: 2%;
}

#bodyHistory{
    text-align: center;
}
.History_box{
    border: 2px solid;
    margin:auto;
    width:50%;
}
