<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact and Help</title>
    <link rel="stylesheet" type="text/css" href="./static/css.css">
</head>
<body>
<h2>contact</h2>
    <div>
        <a href=/>Home</a>
        <a href=/medselection>Medication</a>
        <a href=/bookappointment>Book appointment</a>
        <a href=/contacthelp>Contact and Help</a>
        <a href=/profile>Profile & Settings</a>
        <a href=/signup>Sign Up</a>
        <a href=/login>Login</a>
        <a href=/games>Games</a>
        <a href=/schemes>Schemes</a>
    </div>
</body>
</html>
