<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="./static/css.css">
</head>
<body>
    <h1>test</h1>
    <h2>homepage</h2>
    <div>
        <a href=/>Home</a>
        <a href=/medselection>Medication</a>
        <a href=/medList>Medication List</a>
        <a href=/bookappointment>Book appointment</a>
        <a href=/contacthelp>Contact and Help</a>
        <a href=/profile>Profile & Settings</a>
        <a href=/signup>Sign Up</a>
        <a href=/login>Login</a>
        <a href=/gameSelection>Games</a>
        <a href=/schemes>Schemes</a>
    </div>
    <div>
        <h2>Medication Reminder</h2>
    </div>
    <div>
        <h2>Messages & Reminders</h2>
    </div>
</body>
</html>
