<!DOCTYPE html>
<html lang="en">
<html>
	<head>
		<meta charset="utf-8">
		<!--<link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename='medstyle.css') }}"/> -->
        <link rel="stylesheet" type="text/css" href="../static/medstyle.css">

	</head>


    <body>
<nav>
        <a href=/homepage>Home</a>
        <a href=/medselection>Medication</a>
        <a href=/medList>Medication List</a>
        <a href=/bookappointment>Book appointment</a>
        <a href=/contacthelp>Contact and Help</a>
        <a href=/profile>Profile & Settings</a>
        <a href=/gameSelection>Games</a>
        <a href=/schemes>Schemes</a>
        <a href=/logout>Log out</a>
</nav>

	<!------------------------------------------------------------------------------------------------------------>
<div class="sect sectOne">
    <div id="emptyspace1"></div>
		<h1 class="Medhead">Medications to take</h1>
		<div id="section1">

		<table class = "Medtable" border="4">

            <tr><td>
                <ul>
                    {% for i in list_med %}
                    <li>
                        <p>Medication Name:{{ i["med_name"] }}</p>

                        <p>Consume:{{ i["amount"] }}</p>

                        <p>Information:{{ i["description"] }}</p>
                    <hr>
                    </li>

                    {% endfor %}

                </ul>
            </td></tr>

		</table>

		</div>
	</div>

<!------------------------------------------------------------------------------------------------------------>


<div class="subSection">
</div>
<!------------------------------------------------------------------------------------------------------------>
</body>
</html>
