{% extends 'JinAnn/Base.html' %}
<h1>{% block title %}medList{% endblock %}</h1>

{% block content %}

	<!------------------------------------------------------------------------------------------------------------>
<div class="sect sectOne">
    <div id="emptyspace1"></div>
		<h1 class="Alex_Medhead">Medications to take</h1>
		<div id="section1">

		<table class = "Alex_Medtable" border="4">

            <tr><td>
                <ul>
                    {% for i in list_med %}
                    <li>
                        <p class="tablecell"><b>Name Of Medicine:</b>{{ i["med_name"] }}</p>

                        <p class="tablecell"><b>Amount Of Consumption:</b>{{ i["amount"] }}</p>

                        <p class="tablecell"><b>Description:</b>{{ i["description"] }}</p>

                    <hr>
                    </li>

                    {% endfor %}

                </ul>
            </td></tr>

		</table>

		</div>
	</div>

<!------------------------------------------------------------------------------------------------------------>


<div class="Alex_subSection">
</div>
<!------------------------------------------------------------------------------------------------------------>
{% endblock %}
