
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/medstyle.css">


</head>

<body id = "medselectionbody">

<nav>
        <a href=homepage/>Home</a>
        <a href=/medselection>Medication</a>
        <a href=/medList>Medication List</a>
        <a href=/bookappointment>Book appointment</a>
        <a href=/contacthelp>Contact and Help</a>
        <a href=/profile>Profile & Settings</a>
        <a href=/gameSelection>Games</a>
        <a href=/schemes>Schemes</a>
        <a href=/logout>Log out</a>
</nav>

<div>

<div id="emptyspace2"></div>
<form id = "medform" method="post" action="/medselection">

  <label for="medname">Medicine Name:</label>
  <input type="text" id="medname" name="medname" placeholder="Enter Name of Prescription"><br><div id="emptyspace3"></div>

  <label for="medamount">Medicine Amount:</label>
  <input type="text" id="medamount" name="medamount" placeholder="Enter the amount of tablet(e.g. 400ml/2tablets)"><br><div id="emptyspace3"></div>

  <label for="MedDescription">Medicine description:</label>
  <input type="text" id="MedDescription" name="MedDescription" placeholder="Enter medicine description(e.g. After meals, 2times a day, may cause cause drowsiness)"><br><div id="emptyspace3"></div>

    <input type="submit" value="Submit">

</form>



</div>

</body>
</html>
