
{% extends 'JinAnn/Base.html' %}

<h1>{% block title %}medSelection{% endblock %}</h1>



{% block content %}
<div id = "Alex_medselectionbody">

<div>

<div id="Alex_emptyspace2"></div>
<h4 class = "tableselectionheader">Enter New Medication</h4>
<form id = "Alex_medform" method="post" action="/medselection">

  <label for="medname">Name Of Medicine:</label>
  <input type="text" id="medname" class="Alex_input" name="medname" required placeholder="Enter Name of Prescription"><br><div id="emptyspace3"></div>

  <label for="medamount">Amount Of Consumption:</label>
  <input type="text" id="medamount" class="Alex_input" name="medamount" required placeholder="Enter the amount of tablet(e.g. 400ml/2tablets)"><br><div id="emptyspace3"></div>

  <label for="MedDescription">Description:</label>
  <input type="text" id="MedDescription" class="Alex_input" name="MedDescription" required placeholder="Enter medicine description(e.g. After meals, 2times a day, may cause cause drowsiness.)"><br><div id="emptyspace3"></div>

    <input type="submit" id="Alex_submitButton" value="Submit">

</form>



</div>

</div><!-- ace edit this from body to div -->

{% endblock %}
