{% extends 'JinAnn/Base.html' %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% block content %}
    <div>
        <p>Name: {{ name }}</p>
        <p>Age: {{ age }}</p>
        <p>Contact: {{ contactnumber }}</p>
        <p>Doctor in charge: {{ doctor }}</p>
        <p>Hospital: {{ hospital }}</p>
    </div>
    <div class="Zhi_jian_message">
        <h3 >Messages & Reminders</h3>
    </div>
    <div class="Zhi_jian_message">
        <h3 >Medication</h3>

    </div>
    <div class="Zhi_jian_message">
        <h3 >Settings</h3>
        <p>Font Size: </p>
        <p>Alarm: </p>
        <p>Alarm volume: </p>
        <p>Language: </p>
    </div>
{% endblock %}
