<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="./static/css.css">
</head>
<body>
<h2>profile</h2>
    <div>
        <a href=/>Home</a>
        <a href=/medselection>Medication</a>
        <a href=/bookappointment>Book appointment</a>
        <a href=/contacthelp>Contact and Help</a>
        <a href=/profile>Profile & Settings</a>
        <a href=/signup>Sign Up</a>
        <a href=/login>Login</a>
        <a href=/games>Games</a>
        <a href=/schemes>Schemes</a>
    </div>
    <div>
        <p>Name: </p>
        <p>Age: </p>
        <p>Contact: </p>
        <p>Doctor in charge: </p>
        <p>Hospital: </p>
    </div>
    <div>
        <h2>Messages & Reminders</h2>
    </div>
    <div>
        <h2>Medication</h2>

    </div>
    <div>
        <h2>Settings</h2>
        <p>Font Size: </p>
        <p>Alarm: </p>
        <p>Alarm volume: </p>
        <p>Language: </p>
    </div>
</body>
</html>
