{% extends 'base1.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="name">Name</label>
    <input type="name" name="name" id="name" required>
    <label for="age">Age</label>
    <input type="age" name="age" id="age" required>
    <label for="contactnumber">Contact number</label>
    <input type="contactnumber" name="contactnumber" id="contactnumber" required>
    <label for="doctor">Doctor</label>
    <input type="doctor" name="doctor" id="doctor" required>
    <label for="hospital">Hospital</label>
    <input type="hospital" name="hospital" id="hospital" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}
