
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/medstyle.css">


</head>

<body>
<nav>
    <a href="#">Home</a>
</nav>

<div>
    <form method="POST">
        <div>{{med_form.medName.label}}{{med_form.medName}}</div>
        <div>{{med_form.medAmt.label}}{{med_form.medAmt}}</div>
        <div>{{med_form.medDesc.label}}{{med_form.medDesc}}</div>
        <div>{{med_form.submit}}</div>





    </form>
</div>
<!--<div id="emptyspace2"></div>
<form id = "medform" method="post">

  <label for="medname">Medicine Name:</label>
  <input type="text" id="medname" name="medname" placeholder="Enter Name of Prescription"><br><div id="emptyspace3"></div>

  <label for="medamount">Medicine Amount:</label>
  <input type="text" id="medamount" name="medamount" placeholder="Enter the amount of tablet(e.g. 400ml/2tablets)"><br><div id="emptyspace3"></div>

  <label for="MedDescription">Medicine description:</label>
  <input type="text" id="MedDescription" name="MedDescription" placeholder="Enter medicine description(e.g. After meals, 2times a day, may cause cause drowsiness)"><br><div id="emptyspace3"></div>

    <input type="submit" value="Submit">

</form>
-->
</body>


</body>
</html>
